@media (max-width: 1140px) {
  .services__item:hover {
    width: 450px;
  }
}

@media (max-width: 1024px) {
  .header__img{
    width: 80%;
  }
  .services {
    padding: 250px 0 0;
  }
  .services__inner{
    flex-wrap: wrap;
  }
  .services__stages{
    order: 2;
    margin-bottom: 30px;
    width: 100%;
  }
  .services__item{
    width: 100%;
  }
  .services__item:hover{
    width: 100%;
  }
  .services__content{
    max-width: 100%;
    order: 3;
    width: 100%;
    margin-right: 0;
  }
  .services .title{
    width: 100%;
    order: 1;
  }
  .benefits__img{
    display: none;
  }
}

@media (max-width: 900px) {
  .header__phone{
    font-size: 24px;
    line-height: 36px;
  }
  .header__title {
    font-size: 54px;
    line-height: 74px;
  }
  .header__subtitle {
    font-size: 24px;
    line-height: 36px;
  }
  .header__text {
    margin: 20px 0 30px;
  }
  .header__social {
    margin: 30px 0 0 53px;
  }
  .contacts__inner{
    display: block;
    text-align: center;
  }
  .contacts__info{
    padding-top: 0;
  }
  .contacts__input{
    width: 100%;
  }
  .contacts__button{
    margin-top: 20px;
  }
  .contacts__title{
    margin-left: 0;
    text-align: center;
  }
  .form{
    margin: 0 -10px;
  }
}

@media (max-width: 768px) {
  .benefits__inner{
    text-align: center;
  }
  .benefits__title{
    margin-left: 0;
  }
  .benefits__list{
    padding: 25px 15px 5px;
  }
  .benefits__item{
    width: 100%;
    max-width: 100%;
  }
}

@media  (max-width: 650px){
  .footer__inner{
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    padding: 20px 0;
    align-items: center;
  }
  .footer__social{
    width: 100%;
    margin: 20px 0;
  }
}

@media (max-width: 610px) {
  .body{
    font-size: 16px;
    line-height: 22px;
  }
  .header__top{
    padding-bottom: 0;
  }
  .header__content{
    text-align: center;
    padding: 0 0 20px;
  }
  .header__social{
    margin: 30px 0 20px 0;
  }
  .social{
    justify-content: center;
  }
  .services {
    padding: 120px 0 0;
  }
  .title{
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
    text-align: center;
  }
  .title::after{
    display: none;
  }
  .services__content{
    text-align: center;
  }
  .services__item{
    padding: 10px 15px 9px 60px;

  }
  .services__item::before {
    left: 5px;
  }
  .button{
    margin: 0 auto;
  }
  .benefits__item-num {
    font-size: 28px;
    line-height: 36px;
  }
  .carousel__item-img{
    width: 100%;
  }
}

@media(max-width: 520px) {
  .header {
    min-height: auto;
  }
  .header__top {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .header__logo {
    width: 100%;
    margin-bottom: 20px;
  }
  .header__img {
    position: static;
    width: 100%;
  }
  .services {
    padding: 50px 0 0;
  }
  .button_decoration::before,
  .button_decoration::after{
    display: none;
  }
  .benefits {
    padding: 50px 0 50px;
  }
  .carousel .slick-dots {
    margin-top: 25px;
  }
  .carousel .slick-dots button {
    width: 10px;
  }
  .carousel {
    margin-bottom: 50px;
  }
  .contacts__form {
    padding: 50px 10px 57px;
  }
}

@media (max-width: 340px) {
  .header__title{
    font-size: 44px;
    line-height: 50px;
  }
}
