*,
*::after,
*::before{
  box-sizing: border-box;
}

:root{
  --light-xl-color: #FFFFFF;
  --light-l-color: #C4C4C4;
  --brand-color: #21062A;
  --accent-color: #5A0D67;
  --dark-color: #2C2B2B;
}
body{
  font-family: Oswald, serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.header {
  background: var(--brand-color) url("../img/background.png") top center no-repeat;
  background-size: cover;
  min-height: 700px;
  color: var(--light-xl-color);
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__top {
  padding: 47px 0 45px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__phone {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
}

.header__content {
  position: relative;
  padding: 0 0 90px;
}

.header__title {
  font-weight: 400;
  font-size: 72px;
  line-height: 100px;
  text-transform: uppercase;
}

.header__subtitle {
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
}

.header__text {
  margin: 30px 0 30px;
  max-width: 800px;
}

.button {
  padding: 14px 54px 15px;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-xl-color);
  text-transform: uppercase;
  background-color: var(--accent-color);
  transition: all 0.5s;
  cursor: pointer;
}

.button:hover{
  background-color: var(--light-xl-color);
  color: var(--accent-color);
}

.header__social {
  margin: 65px 0 0 60px;
}

.social{
  display: flex;
  align-items: center;
}

.social__link {
  margin: 0 5px;
}

.header__img {
  position: absolute;
  bottom: -220px;
  right: 0;
}

main{
  flex: 1 1 auto;
}

.services {
  padding: 300px 0 0;
}

.services__inner {
  display: flex;
  align-items: center;
}

.services__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 505px;
  margin-right: 96px;
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: var(--brand-color);
  margin: 0 0 50px;
  position: relative;
}

.title::after{
  content: "";
  width: 80px;
  height: 3px;
  background-color: var(--brand-color);
  position: absolute;
  top: 20px;
  margin-left: 20px;
}

.services__content-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.services__content-title {
  color: var(--accent-color);
}

.services__content-textbox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--dark-color);
  margin-bottom: 69px;
}

.button_decoration {
  margin-top: -24px;
  color: var(--light-xl-color);
  position: relative;
}

.button_decoration::after{
  content: "Жми";
  position: absolute;
  font-size: 14px;
  color: var(--light-l-color);
  margin-left: 130px;
}

.button_decoration::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: var(--light-l-color);
  top: 24px;
  right: -65px;
}

.services__stages {
  list-style: none;
  counter-reset: my-counter;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.services__item {
  counter-increment: my-counter;
  border: 2px solid var(--light-l-color);
  width: 450px;
  min-height: 75px;
  padding: 10px 15px 9px 113px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}

.services__item::before {
  position: absolute;
  content: '0' counter(my-counter);
  left: 25px;
  font-size: 36px;
  font-weight: 400;
  line-height: 53px;
  text-transform: uppercase;
  color: var(--light-l-color);
  transform: rotate(-90deg);
  transition: all 0.5s;
}

.services__item:hover {
  border: 2px solid var(--accent-color);
  width: 500px;
}

.services__item:hover .services__item-title{
  color: var(--accent-color);
}

.services__item:hover::before{
  color: var(--accent-color);
}

.services__item-title {
  color: var(--dark-color);
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}

.services__item-text {
  color: var(--dark-color);
  line-height: 18px;
}

.benefits {
  padding: 100px 0 100px;
}

.benefits__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.benefits__img {
  margin-right: 95px;
}

.benefits__content {
  width: 100%;
  color: var(--light-xl-color);
}

.benefits__title {
  margin-left: 185px;
}

.benefits__list {
  background-color: var(--brand-color);
  list-style: none;
  padding: 23px 0 25px 185px;
}

.benefits__item {
  max-width: 320px;
  margin-bottom: 20px;
}

.benefits__item-num {
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
}

.benefits__item-title {
  font-weight: 300;
  font-size: 24px;
}

.benefit__item-text {
  color: var(--light-l-color);
}

.carousel {
  margin-bottom: 100px;
}

.carousel__inner {
  margin: 0 -7px;
}

.carousel__item-inner {
  border: 1px solid var(--light-l-color);
  padding: 6px 7px 15px 6px;
  margin: 0 7px;
  color: var(--dark-color);
  text-align: center;
  transition: 0.5s;
}

.carousel__item-inner:hover {
  border: 1px solid var(--light-l-color);
  color: var(--light-xl-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.carousel__item-img {
  max-width: 100%;
  margin-bottom: 23px;
}

.carousel__item-title {
  font-weight: 300;
  margin-bottom: 5px;
}

.carousel .slick-dots{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.carousel .slick-dots button{
  border: none;
  font-size: 0;
  padding: 0;
  margin: 0 10px;
  background-color: var(--light-l-color);
  width: 50px;
  height: 1px;
}

.carousel .slick-active button{
  background-color: var(--accent-color);
  height: 3px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  padding-top: 50px;
}

.contacts__list{
  list-style: none;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__item-title {
  color: var(--accent-color);
}

.contacts__item-text {
  color: var(--dark-color);
}

.contacts__form {
  background-color: var(--brand-color);
  padding: 50px 70px 57px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts__title {
  color: var(--light-xl-color);
  margin: 0 0 16px 53px;
}

.contacts__title::after {
  background-color: var(--light-xl-color);
}

.contacts__input {
  width: 450px;
  background-color: transparent;
  color: var(--light-xl-color);
  border: 1px solid var(--light-xl-color);
  height: 75px;
  margin-bottom: 16px;
  font-size: 24px;
  padding: 0 15px;
  text-align: center;
}

.contacts__input::placeholder{
  text-align: center;
  color: var(--light-xl-color);
  font-family: Oswald, serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

.contacts__button {
  margin: 62px 0 0;
  border: none;
  align-self: center;
}

.footer {
  background-color: var(--brand-color);
}

.footer__inner{
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-xl-color);
}

.footer__logo {
}

.footer__social-link {
}

.footer__confidetiality {
}
